*.iml
/TunnelExampleAndroid/.gradle
/TunnelExampleAndroid/local.properties
/TunnelExampleAndroid/.idea/caches
/TunnelExampleAndroid/.idea/libraries
/TunnelExampleAndroid/.idea/modules.xml
/TunnelExampleAndroid/.idea/workspace.xml
/TunnelExampleAndroid/.idea/navEditor.xml
/TunnelExampleAndroid/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
